<div class="hero-container">
    <div class="book-now-container">
        <div fxFlex fxLayout fxLayoutAlign="flex-end">
            <button class="book-now-button" mat-stroked-button color="primary">
                Book Now
            </button>
        </div>
    </div>
    <div class="header-container" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
        <h2 class="mat-display-1">
            Luxury view front home
        </h2>
        <h1 class="mat-display-4">
            Mika resort &amp; spa
        </h1>
    </div>
</div>
